.chart_container {
  background-color: #f6f7f9;
  border-radius: 8px;
  padding-top: 20px;
}

.chart_title {
  font-size: 24px;
  // position: relative;
  // top: 20px;
  // left: 20px;
  padding-left: 10px;
  margin-left: 10px;
  span {
    font-weight: 700;
  }
}

.drop_menu {
  :global {
    .ant-dropdown-menu {
      border-radius: 8px;
      padding: 15px 0;
    }
    .ant-dropdown-menu-item:hover,
    .ant-dropdown-menu-submenu-title:hover {
      background-color: transparent;
    }
    .ant-dropdown-menu-item,
    .ant-dropdown-menu-submenu-title {
      padding: 5px 10px;
    }
  }
}

.menu_item {
  background-color: #f6f6f9;
  border-radius: 50px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  height: 48px;
  padding: 0 10px;
  .menu_name {
    margin: 0 20px;
  }
}

.chart {
  max-width: 548px;
  width: 100%;
  height: 250px;
}
.trigger_wrap {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.trigger,
.current_trigger {
  width: 50px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-left: 10px;
  font-size: 14px;
  cursor: pointer;
}

.current_trigger {
  background-color: #eeeff3;
  font-weight: 700;
  border-radius: 8px;
}

@media only screen and (max-width: 767.99px) {
  .chart {
    width: 335px;
  }
}
